{% extends "base.html" %}

{% block content %}

<style>
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}
</style>


<form method="post">
    {% csrf_token %}

    <table>
        {{ login_form.as_table }}
    </table>

    <input type="submit" value = Entrar>
</form>



{%endblock%}